* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    top: 0;
  }
  
  body {
    background: #ccc;
    position: relative;
    margin: 0 auto;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    position: relative;
    background-color: #fff
  }
  
  .address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(./logo.png);
    filter: drop-shadow(3px 2px 3px black);
  }
  
  /* Your CSS below here */

  header img,
  footer img {
    position: absolute;
    width: 100%;
  }

  footer img {
    bottom: 0;
  }

  header {
    height: 200px;
    background: linear-gradient(#000,1%,#fff);
  }

  p {
    font-style: oblique;
    font-weight: bold;
  }